* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    border-radius: 40px;
    background-color: black;
    border: 2px solid white;
}

.logo-active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade {
    bottom: 0;
    opacity: 0;
    transition: ease-in-out;
}